.container
  %h1
    Search Results
  .row.search-result
    - if @members.blank?
      %h4
        There are no members with the name #{params[:search_name]}
    - else
      - @members.each do |member|
        .col-md-10.col-md-offset-2.well.member
          %p= member.full_name
