/* Chart Styling */

path {
  stroke: steelblue; stroke-width: 2; fill: none;
}
.axis path, .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

/* Exercise dashboard */

#chat-window {
  border: 1px solid #76C95B;
  margin: 15px 0;
}

#chat-window header {
  background: #76C95B;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 120%;
}

#chat-box {
  min-height: 100px;
}

#message-field {
  width: 90%;
  display: inline-block;
}

#username-msg-display {
  color: #337ab7;
}

.message-body {
  margin-bottom: 2px;
}

hr.msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

#chart {
  margin: 40px 0;
  position: relative;
  bottom: 20px;
}

#followers {
  border-right: 1px solid #76C95B;
}

.followers {
  margin-left: -15px;
}

#form-box {
  margin-left: -15px;
}

#post-btn {
  margin-right: -35px;
}

#friends_list {
  margin-bottom: 60px;
}

.btn-unfollow {
  padding: 5px 10px;
}

/* Form styling */
margin {

}