/* Navigation */

.navbar {
  background-color: transparent;
}

.navbar-default {
  border-color: transparent;
}

/* Footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: $cerulean;
  color: #fff;
  p {
    padding: 20px;
  }
}