/* Navigation */

.navbar {
  background-color: transparent;
}

.navbar-default {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #fff;
  border: 1px solid #fff;
  margin: 5px 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin: 5px 0;
}

.navbar-form {
  margin: 12px 0;
}

/* Footer */

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: $cerulean;
  color: #fff;
  p {
    padding: 20px;
  }
}